body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2%;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
    margin: 3%;
    width: 90%;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    justify-content: center ;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
    align-items: center;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    color: aliceblue;
    background-color: chartreuse;
  }
  
  .container {
    padding: 2px 16px;
  }
.cars1
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .card{
    width: 250px;
    height: auto;
    position: relative;
    background: #5d49cd;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 20px;
    transition: all .3s ease-in;
  }

  .reserve{
    color: blue;
    border: #333;
    border-radius: 10%;
    border-color: #5d49cd;
    padding: 12px 56px;
    cursor: pointer;

  }

  .reserve:hover{
    color: rgb(167, 19, 19);
    background-color: black;
  }
